/* 
    ---- COMMON ----
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
}
.videohead {
    background-image: url(./items/338c6.jpg);
    background-size: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 86px;
    padding-bottom: 265px;
}
.title1 {
    font-family: 'Exo', sans-serif;
}

header img {
    /* display: flex; */
    width: 40px;
}
.redbutton {
    background-color: #ff6d6d;
    border: none;
    color: white;
    padding: 15px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}
h1 {
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 40px;
}


h2.heading {
    letter-spacing: 1px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 32px;
}

p.section-text {
    color: #717171;
    letter-spacing: .3px;
    font-size: 14px;
}

.content-container {
    padding: 20px 100px;
}

.red {
    color: #ff9494;
    letter-spacing: 1px;
}

.red-uppercase {
    color: #ff9494;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* 
    ---- /COMMON ----
*/

.whait {
    color: white;
}
.item1 {
    width: 100%;
}

.item1 img {
    width: inherit;
}

.infobox1 {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    position: relative;
    z-index: 3;
   
}
.textinfo {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.trianglebox {
    /* padding-top: 150px;
    color: gray;
    background-color: gray; */
    background: rgb(255,138,138);
    background: linear-gradient(318deg, rgba(255,138,138,1) 47%, rgba(236,236,236,1) 47%, rgba(236,236,236,1) 48%);
    padding: 19%;
    }

.triangle {
    /* width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 150px 250px;
    border-color: transparent transparent #8f99a3 transparent; */
}
.triangle1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 0 0 200px;
    border-color: transparent transparent transparent #8f99a3;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #007bff;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.infobox2 {
    background: #f6f5f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.textinfo2 {
   
    text-align: center;
    margin: 150px 0px

}

.nav {
  
    display: flex;
    justify-content: space-between;
}

.nav1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 40px;
}
.navitem {
    display: flex;
    justify-content: space-around;

}

.pen {
    
    position: absolute;
    left: 100px;
    top: -20px;
    z-index: 1;
    
}
.corporat {
    position: absolute;
    right: 100px;
    top: -20px;
    z-index: 1;
}
.coffe {
    position: absolute;
    right: 120px;
    bottom: -134px;
    z-index: 1;
}

.infobox3.triangle-background {
    background: rgb(255,138,138);
    background: linear-gradient(38deg, rgba(255,138,138,1) 34%, rgba(255,255,255,1) 21%);
    position: relative;
    z-index: 3;
}

.infobox3 .content img {
    max-width: 550px;
    height: auto;
}

.infobox3 .content.content-container {
    margin-left: -50px;
    padding-bottom: 60px;
    padding-top: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.infobox3 .content .text {
    flex-basis: 40%;
    padding-top: 40px;
}



.infobox4 {
    background-image: url(./items/ajyви-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  ;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  
}
.box {
    /* width: 900px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box1 {
    display: flex;
    margin: 25px;
    background-color: gray;
    justify-content: space-around;
    height: 40px;
    width: 40px;

}
.box2 {
    text-align: center;
    margin: 20px;
}
.boxlogo {
    display: flex;
    justify-content: space-around;

}
.infobox5{
    text-align: center;
    background-color: #f6f5f3;
}




.infobox6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    background-color: #323969;
}
.inputA {
    display: inline-block;
    border-radius: 2px;
    border: 5px;
    color: white;
   
    
}

.register {
    background-color: #474d78;
    /* border-color: #999cb4; */
    border: 2px;
    color: white;
    padding: 15px 52px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2px;
    
}



.inputB {
    display: flex;
}
.infobox7 {
    display: flex;
}

.triangle3 {
    width: 0;
height: 0;
border-style: solid;
border-width: 0 250px 150px 0;
border-color: transparent #8f99a3 transparent transparent;
}


#infinity {
    position: relative;
    width: 212px;
    height: 100px;
}
 
#infinity:before,
#infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;    
    border: 20px solid red;
    -moz-border-radius: 50px 50px 0 50px;
         border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
 
#infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius: 50px 50px 50px 0;
         border-radius: 50px 50px 50px 0;
    -webkit-transform:rotate(45deg);
       -moz-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
         -o-transform:rotate(45deg);
            transform:rotate(45deg);
}