/*
    ---- COMMON ----
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
}

.videohead {
    background-image: url(./items/338c6.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 86px;
    padding-bottom: 265px;
}

.title1 {
    font-family: 'Exo', sans-serif;
    text-align: center;
}

header img {
    width: 40px;
}

.redbutton {
    background-color: #ff6d6d;
    border: none;
    color: white;
    padding: 15px 52px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}

h1 {
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 40px;
}

h2.heading {
    letter-spacing: 1px;
    font-weight: normal;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: bold;
}

p.section-text {
    color: #717171;
    letter-spacing: .3px;
    font-size: 14px;
}

.content-container {
    padding: 20px 100px;
}

.red {
    color: #ff9494;
    letter-spacing: 1px;
}

.red-uppercase {
    color: #ff9494;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*
    ---- /COMMON ----
*/

.whait {
    color: white;
}

.whait.italic {
    font-style: italic;
}

.whait.inf {
    font-size: small;
}

.whait.italic.inf {
    font-size: small;
}

.item1 {
    width: 100%;
}

.item1 img {
    width: inherit;
}

.infobox1 {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    position: relative;
    z-index: 3;
}

.textinfo {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.infobox2 {
    background: #f6f5f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.infobox2 img {
    width: 200px;
}

.trianglebox {
    background: rgb(255, 138, 138);
    background: linear-gradient(318deg, rgba(255, 138, 138, 1) 47%, rgba(236, 236, 236, 1) 47%, rgba(236, 236, 236, 1) 48%);
    padding: 19%;
}

.triangle1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 0 0 200px;
    border-color: transparent transparent transparent #8f99a3;
    line-height: 0px;
    border-color: #000000 #000000 #000000 #007bff;
    filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.textinfo2 {
    text-align: center;
    /* margin: 150px 0px */
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 40px;
    font-size: small;
}

.navitem {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.pen {
    position: absolute;
    left: 100px;
    top: -20px;
    z-index: 1;
}

.corporat {
    position: absolute;
    right: 100px;
    top: -20px;
    z-index: 1;
}

.coffe {
    position: absolute;
    right: 120px;
    bottom: -134px;
    z-index: 1;
}

.infobox3.triangle-background {
    background: rgb(255, 138, 138);
    background: linear-gradient(38deg, rgba(255, 138, 138, 1) 34%, rgba(255, 255, 255, 1) 21%);
    position: relative;
    z-index: 3;
}

.infobox3 .content img {
    max-width: 550px;
    height: auto;
}

.infobox3 .content.content-container {
    margin-left: -50px;
    padding-bottom: 60px;
    padding-top: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.infobox3 .content .text {
    flex-basis: 40%;
    padding-top: 40px;
}

.infobox4 {
    background-image: url(./items/ajyви-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}

.box1 {
    display: flex;
    margin: 25px;
    background-color: #4e4e5e;
    justify-content: space-around;
    height: 60px;
    width: 60px;
}

.box2 {
    justify-content: space-around;
    text-align: center;
    margin: 20px;
}

.boxlogo {
    display: flex;
    justify-content: space-around;
}

.infobox5 {
    text-align: center;
    background-color: #f6f5f3;
    padding-top: 50px;
}

.website-image img {
    width: 75%;
}

.section-text.page {
    text-align: center;
    margin: auto;
    margin-bottom: 70px;
    width: 50%;
}

.section-text.basic {
    font-size: small;
}

.red-uppercase.design {
    margin-top: 40px;
}

.infobox6 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    background-color: #323969;
}

.heading.register-block {
    color: white;
}

.inputA {
    display: flex;
    /* flex-wrap: wrap; */
    border-radius: 2px;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}

.register {
    display: flex;
    flex-wrap: wrap;
    background-color: #474d78;
    color: white;
    padding: 15px 45px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2px;
    border: 1px solid #999cb4;
    width: 30%;
}

.register::placeholder {
    color: white;
}

.second-button {
    background-color: #ff6d6d;
    border: none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    width: 30%;
}

.registration {
    color: #a8aabc;
    padding-right: 5px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.white.right {
    margin-right: 35px;
    position: relative;
    color: #a8aabc;
    text-align: right;
    margin-bottom: 30px;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}

.arrow {
    position: absolute;
    left: -30px;
}

.v-line {
    color: #a8aabc;
}

.inputB {
    display: flex;
}

footer {
    position: relative;
}

.infobox7 {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    gap: 15px;
    background: rgb(236, 236, 236);
    background: linear-gradient(55deg, rgba(236, 236, 236, 0) 84%, rgba(255, 138, 138, 1) 84%);
    padding-left: 8vw;
    padding-top: 5vw;
    padding-bottom: 8vw;
}

.inline-blok {
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
}

.support {
    width: 15%;
    justify-content: center;
    padding-top: 8px;
}

.contact {
    list-style-type: none;
}

.partner-contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.input {
    position: relative;
}

.yourmale-input {
    display: flex;
    padding: 15px 45px;
    text-align: left;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2px;
}

.yourmale {
    padding-top: 8px;
}

.partner-logo {
    display: flex;
}

.partner-logo img {
    filter: grayscale(100%);
}

.start {
    position: absolute;
    left: 12vw;
    top: 5vw;
}

.dribbble {
    position: absolute;
    left: 2vw;
    top: 6vw;
}

.facebook {
    position: absolute;
    left: 5vw;
    top: 6vw;
}

.googleplus {
    position: absolute;
    left: 8vw;
    top: 6vw;
}

.twitter {
    position: absolute;
    left: 11vw;
    top: 6vw;
}

.plane {
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (max-width: 1050px) {
    .nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 870px) {
    .infobox1 .textinfo {
        padding: 20px 40px;
    }
    .infobox3 .content-container {
        flex-direction: column;
    }
    .infobox3 .content-container .text {
        padding-top: 15px;
    }
    .infobox3 {
        background: linear-gradient(35deg, rgba(255, 255, 255, 1) 70%, rgba(255, 138, 138, 1) 70%) !important;
    }
    .coffe {
        right: 40px;
    }
    .pen {
        left: 40px;
    }
    .corporat {
        right: 40px;
    }
    .textinfo2 {
        padding: 20px 50px;
    }
}

@media screen and (max-width: 600px) {
    .infobox3 img {
        width: 100%;
    }
    .box {
        flex-wrap: wrap;
    }
    .boxlogo {
        flex-wrap: wrap
    }
    .inputA {
        justify-content: center;
        flex-wrap: wrap;
    }
    .nav {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .infobox2 img {
        width: 100px;
    }
    .coffe {
        bottom: -68px;
    }
}